target/
*.class
*.jar
*.war

.idea/
*.iml
.vscode/

.env
*.env.local

*.log

.DS_Store
Thumbs.db

# SonarQube local
.sonar/

# Arquivos de conflito de merge
*.orig
*.rej

# Editores
*.swp
*.swo
*~

arquitetura.drawio
mvnd.sh
qodana.yaml
**/.jqwik-database
